.like-bar-container {
  display: flex;
  justify-content: center;
  background-color: #edeff4;
  margin: 8px 0;
}

.like-bar {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 95%;
  padding: 4px 0;
}

.fa-thumbs-up {
  margin-right: 2px;
}

.liked-bar__like-text {
  color: rgb(44, 131, 202);
  margin-right: 2px;
  cursor: pointer;
}